main, form> h2 {
    background: var(--backgroundMain);
    text-align: center;
}
h2 {
    margin: 10px 0;
}
.formulario{
    text-align: left;
    width: 800px;
    margin: 0 auto;
}
.formulario p{
    text-align: center;
    font-size: 25px;
}
.campo{
    margin: 15px 0;
}
.campo-area{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* padding: 10px 0; */
    gap: 10px;
}
.campo label{
    padding-left: 10px;
    display: block;    
    font-size: 20px;
}


input {
    height: 30px;
    width: 300px;
}
textarea{
    width: 100%;
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
    height: 90px;
    resize: none;
}
input[type=submit]{
    background-color:grey;
    height: 35px;
    border: none;
    width: 150px;
    margin: auto auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
input[type=submit]:hover {
    cursor: pointer;
}


.form-container-row{
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.sect-three {
    width: 100%;
}
.sect-three input {
    width: 78%;
    
}



@media screen and (max-width: 600px){
    .campos label, .campo, h2{
        text-align: center;
    } .formulario{
        margin: auto;
        padding: 0;
        width: 400px;
    }
    div.campo-area{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    textarea{
        width: 300px;
    }
}


