main {
    color: var(--dark);
    background: var(--backgroundMain);
    border: 1px solid var(--backgroundMain);
}

.message h1 {
    text-align: center;
    font-size: 80px;
    padding-top: 40px;
}

.container_1 {
    display: flex;
    margin: 0 100px;
    color: rgb(97, 95, 95);
    padding: 20px 20px;
}

strong {
    color:blue;
}

.container_2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 30px;
}

.container_2 p {
    margin: 10px;
    
}

.frente_1, .frente_2, .frente_3 {
    width: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container_2 img {
    width: 150px;
    height: 150px;
    opacity: 0.7;
    border: 2px solid black;
    border-radius: 50%;
}

.frente_1 p, .frente_2 p, .frente_3 p {
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    color: rgb(97, 95, 95);
    font-size: 16px;
}

.container_3, .container_4 {
    text-align: center;
}


.container_3 h2 {
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 35px;
}

.serv {
    display: flex;
    display: row;   
    padding: 10px;
    margin: 10px;
}

.serv img {
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    width: 100%;
}




.serv_left {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px 30px;
    width: 50%;
    justify-content: center;
}

.serv_right {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 18px;
    word-spacing: 10px;       
    line-height: 1.2;
    letter-spacing: 2px;
    justify-content: center;

}
.serv {
    background: var(--lightCard);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 20px;
}

.container_4 h2 {
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 35px;
}

.serv_right h3, p {
    margin-bottom: 15px;
}

.serv_right li {
    margin: 5px;
}

h3 {
    font-size: 30px;
}

@media screen and (max-width:600px) {
    main {
        width: 100%;
        padding: 15px;

    }
    div.serv img {
        width: 100%;
    }
    ul , p , div.serv_left , div.serv_right {
        width: 100%;
        text-align: justify;


    }
    div.container_1{
        margin: 0;
        width: 100%;
        text-align: justify;

    }
    li{
        padding: 5px 0;

        width: 100%;
    }
    .serv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

